* {
  background-color: whitesmoke;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

h1 {
  text-align: center;
  width: 100%;
}

table {
  outline: solid black;
}

th, td {
  border: solid 1px gray;
  padding: 3px;
}

fieldset {
  max-width: 100%;
  display: flex;
}

hr {
  width: 100%;
  outline: black solid 1px;
}

.form-label {
  padding: 1em;
}

#array-read-result {
  display: flex;
  padding: 1em;
}

#sample-one {
  background-color: darkcyan;
  
}